.menu ul li a .logout {
    width: 10px;
}

.leason {
    width: 50%;
    border: solid transparent 3px;
    -webkit-box-shadow: -5px 2px 13px 4px rgba(136,136,136,1);
    -moz-box-shadow: -5px 2px 13px 4px rgba(136,136,136,1);
    box-shadow: -5px 2px 13px 4px rgba(136,136,136,1);
    padding: 15px;
}

.plus {
    width: 50%;
    border: solid transparent 3px;
    -moz-box-shadow: -5px -5px 5px #888;
    -webkit-box-shadow: -5px -5px 5px #888;
    box-shadow: -5px -5px 5px #888;
}