@font-face {
    font-family: "SFProDisplay";
    src: url("font/SF-Pro-Display/SF-Pro-Display-Regular.otf") format("opentype");
}
@font-face {
    font-family: "SFProDisplay";
    src: url("font/SF-Pro-Display/SF-Pro-Display-Semibold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("font/SF-Pro-Display/SF-Pro-Display-RegularItalic.otf");
    font-style: italic;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("font/SF-Pro-Display/SF-Pro-Display-SemiboldItalic.otf");
    font-weight: bold;
    font-style: italic;
}
body {
    background-color: #E3E4E8 !important;
    background: url(../img/bg.png);
    background-size: cover;
    font-family: 'SFProDisplay', sans-serif;
}
.wrapper{
    width: 75%;
    margin: 0 auto;
    position: relative;
    background-color: #fafafa;
    border-radius: 15px;
    padding: 2vh 2vw;
}
.kolom {
    float: left;
}
.kolom.k6{
    width: 50%;
}

.header .menu{
    text-align: right;
}
.header .menu ul{
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    margin: 0;
    padding: 0;
}

.header .menu ul li{
    display: inline-block;
    line-height: 50px;
}

.header .menu ul li a{
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
}

footer p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0;
    padding: 0;
}

.text-center{
    text-align: center;
}
.clear {
    clear: both;
}