@font-face {
    font-family: "SFProDisplay";
    src: url("font/SF-Pro-Display/SF-Pro-Display-Regular.otf") format("opentype");
}
@font-face {
    font-family: "SFProDisplay";
    src: url("font/SF-Pro-Display/SF-Pro-Display-Semibold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("font/SF-Pro-Display/SF-Pro-Display-RegularItalic.otf");
    font-style: italic;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("font/SF-Pro-Display/SF-Pro-Display-SemiboldItalic.otf");
    font-weight: bold;
    font-style: italic;
}
body {
    background-color: #E3E4E8 !important;
    background: url(../img/bg.png);
    background-size: cover;
    font-family: 'SFProDisplay', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color : rgba(57, 55, 104, 1);
    font-weight: bold;
}
section{
    margin: 0 auto;
    margin-bottom: 40px;
}
.wrapper{
    width: 90%;
    margin: 5vh auto;
    position: relative;
    background-color: #fafafa;
    border-radius: 15px;
    padding: 2vh 2vw;

    /*margin: 5vh 3vw;*/
    padding: 2vh 2.5vw;
    overflow: hidden;
    max-width: 94vw;
     position: relative; 
    padding-bottom: 60px;
}

/* Grid */
.kolom {
    float: left;
}
.kolom.k1{
    width: 8.333333333333333%;
}
.kolom.k2{
    width: 16.66666667%;
}
.kolom.k3{
    width: 25%;
}
.kolom.k4{
    width: 33.33333333%;
}
.kolom.k5{
    width: 41.66666667%;
}
.kolom.k6{
    width: 50%;
}
.kolom.k7{
    width: 58.3333333333%;
}
.kolom.k8{
    width: 66.66666667%;
}
.kolom.k9{
    width: 75%;
}
.kolom.k10{
    width: 83.33333333%;
}
.kolom.k11{
    width: 91.66666667%;
}

.kolom.k12{
    width: 100%;
}
/* Grid END */

.header .menu{
    text-align: right;
}
.header .menu ul{
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    margin: 0;
    padding: 0;
}

.header .menu ul li{
    display: inline-block;
    line-height: 50px;
}

.header .menu ul li a{
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
}

.header .menu a:hover.btn{
    background-color: rgba(57, 55, 104, 0.70);
    border-color: rgba(57, 55, 104, 0.70);
    color: #fff;
}

.menu a{
    text-decoration: none;
    color: rgba(0,0,0,.5);
}

.menu a:hover{
    color: rgba(0,0,0,.7);
}

.menu li.active a{
    color: rgba(0,0,0,.9);
}

a.btn {
    text-decoration: none;
    font-weight: bold;
}
.btn.btn-wikwik {
    color: #fff;
    background-color: rgb(173, 174, 234);
    border-color: rgb(173, 174, 234);
    border-radius: 2vh;
}

.btn.btn-wikwik:hover{
    background-color: rgba(57, 55, 104, 0.70);
    border-color: rgba(57, 55, 104, 0.70);
}
.btn {
    display: inline-block;
    padding: 15px;
    border-radius: 2vh;
}

.profile img{
    width: 100%;
}
.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 10px #FF9F55;
    background: #FF9F55;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
/*FORM
.form-register {
    color: rgb(173, 174, 234);
    font-size: 15px;
    font-family: SFProDisplay;
    src: url("font/SF-Pro-Display/SF-Pro-Display-Semibold.otf");
    
}

.form1{
    width: 200px; 
    height: 30px;
    background: firebrick;
    border-radius: 20%;
}
*/
.form-password {
    color: rgba(57, 55, 104, 0.70);
    font-size: 15px;
    font-family: SFProDisplay;
    src: url("font/SF-Pro-Display/SF-Pro-Display-Semibold.otf");
    font-weight: italic;
}

.input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
.input[type=password]:focus {
    border: 3px solid #555;
  }


/*BATAS FORM*/

footer p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0;
    padding: 0;
}

/* Text Alignment */
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
/* Text Alignment END */

/* Responsive */
@media only screen and (max-width: 768px) {
  .kolom.k1,.kolom.k2,.kolom.k3,.kolom.k4,.kolom.k5,.kolom.k6,.kolom.k7,.kolom.k8,.kolom.k9,.kolom.k10,.kolom.k11,.kolom.k12{
    width: 100%;
  }
}
/* Responsive END */

.kelas-info{
    overflow: hidden;
    border-radius: 2vh;
    background-color: #fafafa;
    box-shadow: -4px 8px 30px -30px rgba(0,0,0,1);
    margin-bottom: 30px;
}
.kelas-info .primary{
    background-color: #f5c557;
    padding: 2vh 5vw;
    font-weight: bold;
    height: 100px;
    border: solid thin #f5c557;
}
.kelas-info .secondary{
    padding: 2vh 5vw;
    border: solid thin #f5c557;
    border-radius: 0 0 2vh 2vh;
}

/* Collapsible */
.collapsible-wrapper{
    padding: 1vh 1vw;
    background-color: #efeff7;
    overflow: hidden;
    border-radius: 2vh;
}

.collapsible-wrapper .container:first-child{
    margin-top: 15px;
}
.collapsible-wrapper .container{
    background-color: #fafafa;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 2vh;
    -webkit-box-shadow: 2px 0px 32px -16px rgba(0,0,0,1);
    -moz-box-shadow: 2px 0px 32px -16px rgba(0,0,0,1);
    box-shadow: 2px 0px 32px -16px rgba(0,0,0,1);
}
.collapsible-wrapper .collapsible {
    cursor: pointer;
    padding: 18px 1%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-bottom: solid thin #777;
}

.collapsible-wrapper .collapsible.active,
.collapsible-wrapper .collapsible:hover {
    background-color: rgba(57, 55, 104, 0.70);
    border-color: rgba(57, 55, 104, 0.70);
    color: #fff;
}

.collapsible-wrapper .content {
    max-height: 0;
    padding: 0 1%;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: max-height 0.2s ease-out;
}
/* Collapsible END */


* {
    box-sizing: border-box;
  }
  
  /* Set a background color */
  body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #e4e4e4;
    top: 0;
    bottom: 0;
    margin-left: -3px;
  }
  
  /* Container around content */
  .timeline .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .timeline .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .timeline .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .timeline .right {
    /* left: 50%; */
  }
  
  /* Add arrows to the left container (pointing right) */
  .timeline .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .timeline .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .timeline .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .timeline .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .timeline .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .timeline .container::before {
      /* left: 60px; */
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .timeline .container.left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
  .timeline .container.right {
      left: 0%;
    }
  }

.clear {
    clear: both;
}